.body {

	background-image: url('/images/background.png');
	background-repeat: repeat;

}


h1{
	background-color: orange;
}


h2{
	background-color: orange;
}

.myNav,.pc{
	background-color: yellow;
}

section{background-color: red;}

aside{background-color: green;}